body {
  max-width: 800px;
  margin: 0 auto;
  font: 11pt/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  hyphens: auto;
}

main {
  margin: 1em 0 2em;
}

h1, h2, h3 {
  margin: 1em 0 .25em;
  clear: both;
}

p {
  margin: 0 0 1em;
}

#venue {
  font-size: 1.5em;
}
#organizers {
  list-style: none;
  padding: 0;
}

#abstract h2 {
  display: none;
}
#abstract {
  font-style: italic;
}

.chair p {
  margin: 0;
}
.chair img {
  float: right;
  margin: -1em 0 1em 2em;
  width: 10em;
}

@media print {
  body {
    font-size: 10pt;
    text-align: justify;
  }
  a {
    text-decoration: none;
    color: inherit;
  }
}
@page {
  margin: 25mm;
  @bottom-left {
    content: counter(page) "/" counter(pages);
  }
}

/* -- Material Design Table style -------------- */
table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 2rem;
  background-color: #fff;
  padding: 0.8rem;
}

table > thead > tr > th,
table > tbody > tr > th,
table > tfoot > tr > th,
table > thead > tr > td,
table > tbody > tr > td,
table > tfoot > tr > td {
  text-align: left;
  padding: 0.6rem;
  vertical-align: top;
  border-top: 0;
   
}
table > thead > tr > th {
  font-weight: 400;
  color: #757575;
  vertical-align: bottom;
  border-bottom: 3px solid rgba(0, 0, 0, 0.12);
}

.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
  border: 0;
  border-bottom: 1px solid #e0e0e0;
}
.table-bordered > thead > tr > th,
.table-bordered > thead > tr > td {
  border-bottom-width: 2px;
}